<div id="body" class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]='compareCompany' class="form-group border p-5 border-curved mt-5" >
            <p class="h1 text-muted text-uppercase text-center mb-4">Compare Sector</p>
            <label for="sector"> Select Sector 1:</label>
            <select class="form-control " id="sector" formControlName="sector1">
                <option>IT <a href="IT"></a></option>
                <option>Banking<a href="Banking"></a></option>
                <option>Trading<a href="Trading"></a></option>
                <option>Agriculture<a href="Agriculture"></a></option>
                <option>Others..<a href="Others.."></a></option>
              </select>
            <label for="sector"> Select Sector 2:</label>
            <select class="form-control " id="sector" formControlName="sector2">
                <option>IT <a href="IT"></a></option>
                <option>Banking<a href="Banking"></a></option>
                <option>Trading<a href="Trading"></a></option>
                <option>Agriculture<a href="Agriculture"></a></option>
                <option>Others..<a href="Others.."></a></option>
              </select>

            <br>
            <button class="btn btn-success form-control" (click)="compareTheCompany()" [disabled]="!compareCompany.valid">Submit</button>
          </form>
</div>
</div>
</div>