
  <br><br><br>

<div class="container">
    <div class="row">
      <div class="col-xs-20 col-sm-10 col-md-9 col-sm-offset-1 col-md-offset-6">
        
        <form>
          <div class="form-group">
            <div class="card shadow">
                <p class="h4 card-header text-center" style="grid-row-end:span ;" style="font-variant-numeric: inherit;">LOGIN</p>
            
                
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend"  class="form_group">
                    <span class="input-group-text" >Username</span>
                </div>
                <input type="text" name="username" formcontrolname="username" class="form-control" />
            </div>
            <form  novalidate class="form">
            <div class="input-group mb-3">
                <div class="input-group-prepend" class="form-group">
                    <span class="input-group-text">Password</span>
                </div>
                
                <input type="password" name="password" formcontrolname="password" class="form-control" />
            </div>
          
            <div class="form-check">
                <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="remember">Remember me
                </label>
            </div>
         
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-info " routerLink='/userhome'>Login</button>
                <button type="reset" class="btn btn-info ml-4 ">Reset</button></div>
                </form>
            </div>
            
        </div>
        </form>
      </div>
    </div>
    
  </div>
 


