<br>
<div class="container">
    <div class="row">
    <div class="col">
      
            <div class="card shadow">
                <p class="h4 card-header text-center" style="grid-row-end:span ;" style="font-variant-numeric: inherit;">Registration</p>
                <div class="card-body bg-light">
                    
                    <form [formGroup]="registerUser">
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ID Number</span>
                            </div>
                            <input type="tel" formControlName="id" class="form-control" />
                        </div>
                        <div class="input-group mt-3 mb-3" class="form-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">Username</span>
                            </div>
                            <input type="text" formControlName="username" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" formControlName="password" class="form-control" />
                        </div>
                      
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Re-Enter Password</span>
                            </div>
                            <input type="password" formControlName="reenterpassword" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Contact</span>
                            </div>
                            <input type="tel" formControlName="phone" class="form-control" />
                        </div>
                       
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="email" formControlName="email" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Confirm Your Email</span>
                            </div>
                            <input type="email" formControlName="confirmemail"   class="form-control" />
                        </div>
                      
                        <div class="row justify-content-center">
                        <button class="btn btn-info " (click)="submit()" [disabled]="!registerUser.valid" routerLink='/login'>SignIn</button>
                        <button type="reset" class="btn btn-danger ml-4 ">Reset</button></div>
                   </form>
                </div>
            </div>
      
    </div>
</div>

</div>


