<br />
<br />

<div class="jumbotron-fluid shadow " style="padding: 30px;">
       <p class="text-justify lead  "><b>A stock exchange</b>, securities exchange or bourse is a facility where stockbrokers 
         and traders can buy and sell securities, such as shares of stock and bonds and other financial instruments.
          Stock exchanges may also provide facilities for the issue and redemption of such securities and instruments 
          and capital events including the payment of income and dividends Securities traded on a stock exchange include 
          stock issued by listed companies, unit trusts, derivatives, pooled investment products and bonds. Stock exchanges 
          often function as "continuous auction" markets with buyers and sellers consummating transactions via open outcry 
          at a central location such as the floor of the exchange .<br />
</div>
          <img src="./assets/c1.jpeg" alt="companypicture" width="340" height="250">
          <img src="./assets/c2.jpg" alt="companypicture" width="340" height="250">
          <img src="./assets/c3.jpg" alt="companypicture" width="340" height="250">
          <img src="./assets/c4.jpg" alt="companypicture" width="340" height="250">

  <router-outlet></router-outlet>