<h2> Course Details</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Password</th>
      <th>Re-enterPassword</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>
      <td>{{user.rpassword}}</td>
      <td>{{user.email}}</td>
      <td>{{user.mobile}}</td>
      <td><button class ="btn btn-danger" (click)="deleteUsers(user)">Delete</button>
      <button class ="btn btn-primary" (click)="updateUser(user)">Update</button>
      </td>
      
    </tr>
    </tbody>
  </table>