<br>
<div class="container">
    <div class="row">
    <div class="col">
            <div class="card shadow">
                <p class="h4 card-header text-center" style="grid-row-end:span ;" style="font-variant-numeric: inherit;">IPO Details</p>
                <div class="card-body bg-light">
                    <form [formGroup]="updateIpo">
                        <div class="input-group mt-3 mb-3" class="form-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">ID</span>
                            </div>
                            <input type="text" formControlName="id" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Company</span>
                            </div>
                            <input type="text" formControlName="company" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">StockExchange</span>
                            </div>
                            <input type="text" formControlName="stockexchange" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Price-Share</span>
                            </div>
                            <input type="number" formControlName="priceshare" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">No Of Shares</span>
                            </div>
                            <input type="number" formControlName="noofshares" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Address</span>
                            </div>
                            <input type="textbox" formControlName="address" class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">City</span>
                            </div>
                            <input type="text" formControlName="city"  class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">State</span>
                            </div>
                            <input type="text" formControlName="state"  class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Pincode</span>
                            </div>
                            <input type="number" formControlName="pincode"  class="form-control" />
                        </div>
                        <div class="input-group mb-3" class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Date</span>
                            </div>
                            <input type="date" formControlName="date"  class="form-control" />
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-succes" (click)="updateTheIpo()" [disabled]="!updateIpo.valid">Update Ipo</button>
                        <button type="reset" class="btn btn-danger ml-2 ">Reset</button></div>
                   </form>
                </div>
            </div>
    </div>
</div>
</div>
