<nav class="navbar navbar-expand" >
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/viewusers']"class="nav-link"><button class="btn btn-outline-primary"> USERS</button></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/viewipo']" src=""class="nav-link" ><button class="btn btn-outline-primary"> IPOS</button></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/listcompany']" class="nav-link"><button class="btn btn-outline-primary">COMPANY</button></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/stockexchange']" class="nav-link"><button class="btn btn-outline-primary">STOCK EXCHANGE</button></a>
            </li>
            
            
        </ul>
    </div>
</nav> 


<div text-center>
<div class="col-md-4 ">
    <div class="card text-center " routerLink="/admindocupload">
          <div class="card-body">
              <h4 class="card-title ">Import Data</h4>
          </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card  text-center " routerLink="/adminadddetails">
          <div class="card-body">
              <h4 class="card-title ">ManageCompany</h4>
          </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card   text-center" routerLink="/addstock">
          <div class="card-body">
              <h4 class="card-title ">Manage Exchange</h4>
          </div>
    </div>
</div>
<div class="col-md-2">
    <div class="card  text-center " routerLink="/ipolist">
          <div class="card-body">
              <h4 class="card-title ">UpdateIpoDetails</h4>
          </div>
    </div>
</div>
<div>
    <li><a href="viewusers" class=" btn btn-success">viewusers</a>
    </li>
</div>
</div>