<div class="col text-center">
  <div class="row">
    <div class="card my-card border border-curved text-center h-100 w-50" routerLink="/viewipo">
      <div class="card-body">
        <h4 class="card-title display-4">IPOS</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card my-card border border-curved text-center h-100 w-50" routerLink="/comparecompany">
      <div class="card-body">
        <h4 class="card-title display-4">Compare Company</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card my-card border border-curved text-center h-100 w-50" routerLink="/comparesector">
      <div class="card-body">
        <h4 class="card-title display-4">Compare Sector</h4>
      </div>
    </div>
  </div></div>
