
	  <hr>
	  <header >
      <h2 class="text-center">Stock Exchange Market</h2>
	  </header>
	  <nav class="navbar navbar-expand-lg  bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#"  class="nav-link">About</a>
                </li>

               
               <!-- <li class="nav-item dropdown"> 
                  <div class="dropdown">
                    <button class="btn btn-success nav-link dropdown-toggle" type="button" id="buttondownMenuButton" data-toggle="dropdown button">Services </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Compare Charts</a>
                        <a class="dropdown-item" href="#">Update IPO</a>
                        <a class="dropdown-item" href="#">Daily Reports </a>
                        <a class="dropdown-item" href="#">Monthly Reports</a>
                        <a class="dropdown-item" href="#">Yearly Reports</a>
                      </div>
                  </div>
                </li>  -->
                <li class="nav-item">
                    <a href=""  class="nav-link">Contact</a>
                </li>
				
            </ul>
            <div class="container">
			<ul class="navbar-nav float-right">
        
      <li ><a href="viewusers" class=" btn btn-success">viewusers</a>
      </li>
      </ul>
      <ul class="navbar-nav" style="padding-left: 10px; padding-top: 5px;">
        <li ><a href="createaccount" class=" btn btn-success" >createaccount </a>
        </li>
        
        <li class="nav-item"><a routerLink="login" routerLinkActive="active" 
          class="btn btn-success">
               Login</a>
        </ul>
        </div>
        </div>
    </nav>
    <br>
    <div style="min-height: 75vh;">
    <router-outlet></router-outlet>
    </div>


  
    <footer class="page-footer">
      <div class="footer-copyright text-center py-3 bg-dark text-white mb-3">© 2020 Copyright:
        <a href="www.javatpoint.com"> javatpoint</a>
      </div></footer>
  