<div id="body" class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]='updateStock' class="form-group border p-5 border-curved mt-5">
            <p class="h1 text-muted text-uppercase text-center mb-4">Stock Exchange</p>
            <label for="id">Id</label>
            <input type="number" class="form-control" placeholder="id" formControlName="id" name="id" id="id" disabled/>
            <label for="stockname">Stock Exchange Name:</label>
            <input type="text" class="form-control" placeholder="Name of Stock Exchange" formControlName="stockname" name="stockname" id="stockname">
            <label for="remarks">Remarks:</label>
            <textarea class="form-control mb-4" placeholder="Remarks" rows="3" formControlName="remarks" name="remarks" id="remarks"></textarea>
            
                <div class="row justify-content-center">
                    <button class="btn btn-success" (click)="updateTheStock()" >Update Stock</button>
                <button type="reset" class="btn btn-danger ml-2 ">Reset</button></div>
          </form>
        </div>
    </div>
</div>

