
<hr>
<header>
  <h2 class="text-center">Stock Exchange Market</h2>

<nav class="navbar navbar-expand-lg  bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Contact</a>
      </li>
      <li><a href="viewusers" class=" btn btn-success">viewusers</a>
      </li>
    </ul>
    <div class="container">
      <ul class="navbar-nav float-right">
        <!--         
      <li ><a href="viewusers" class=" btn btn-success">viewusers</a>
      </li> -->
      </ul>
      <ul class="navbar-nav" style="padding-left: 10px; padding-top: 5px;">
        <li><a href="createaccount" class=" btn btn-success">createaccount </a>
        </li>

        <li class="nav-item"><a routerLink="login" routerLinkActive="active" class="btn btn-success">
            Login</a>
      </ul>
    </div>
  </div>
</nav>
</header>
<div class="mb-5" style="min-height: 100vh;">
  <router-outlet></router-outlet>
</div>



<footer class="">
  <div class="footer-copyright text-center py-3 bg-dark text-white mb-3">© 2020 Copyright:
    <a href=""> krishna</a>
  </div>
</footer>