<div class="col-md-4 ">
    <div class="card text-center " routerLink="/admindocupload">
          <div class="card-body">
              <h4 class="card-title ">Import Data</h4>
          </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card  text-center " routerLink="/adminadddetails">
          <div class="card-body">
              <h4 class="card-title ">ManageCompany</h4>
          </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card   text-center" routerLink="/addstock">
          <div class="card-body">
              <h4 class="card-title ">Manage Exchange</h4>
          </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card  text-center " routerLink="/ipolist">
          <div class="card-body">
              <h4 class="card-title ">UpdateIpoDetails</h4>
          </div>
    </div>
</div>